<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>404 Not Found</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	<style>
		.container {
			position: relative;
			text-align: center;
			color: black;
		}

		.centered-inside-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-text-stroke: 1px white;
		}

		.adam {
			position: relative;
			text-align: center;
			transform: translate(-25%, 0%);
			color: purple;
		}

		.centered-btn {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			display: block ;
			margin: auto ;
		}
	</style>
</head>
<body>
<main>
	<div id="cat" class="container"></div>
	<br><br><div class="centered-btn"><button id="downloadCat">Download this cat GIF</button></div>
	<div id="adam" class="adam"><pre>
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMP"".="..`".
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMPP"". .,,z$$P"$$
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM"   c$$$$$F"'P `$F
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMP". ,c$$$??"" ?? cd$$
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMP".&lt;&gt; c$""" zr???ccc$$"F
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMP".&lt;&lt;&gt;&gt; `.z$$,."-?.`,d$"$$
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM".&lt;&gt;' ccc ?""?"$(A&W)"`?$$c
""""""""?PPPPPPPPPPPPP&gt;"""&lt;?4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMP .'',d$$$".  ,c$$??  ?c,.`??
!!!!!!!;;;;;;;;,.````'`&lt;!!!&gt;'MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM".  &lt;$P"."  ? dP"".zcccd$$$cdr
!!!!!!!!!!!!!!!!!!!!!&gt;;,,.`-  "MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMP ;G "?$ d$??h..''  $$$$$$$$?? .
!!!!!!!!!!!!!!!!!!!!!!'''`&lt;&gt;;, "4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM",&lt;GGG&gt;."-' c?$P" ccd$$$$F " .zdF
!!!!!!!!!!!!!!!!!!'.,,cdcc,'``&lt;&gt;;,""4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM",GGGGGGG' ; " .  . `?$$$$cc`""".r
!!!;,!!;;,`&lt;!!!!! ,$$$$$$$$??c,`'!!&gt;.'"MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM",&lt;GGGGG&gt; ;!! c$"  $ h."?$""$????".
!!!!!!!!!!;,!;, ;c$P"`"""",c=?." `!!!!;,"4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM",GGGGGG' &lt;''' _.zF`$.`?$c,zc,zcccc$
!!!!!!!!!!!!!;, d$$L $$.,$$P=    `!!!!!!&gt; "MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMP GGGGGG  `,cc$$$$$$ ?$c,`"$$$$$$$$$$
!!!!!!!!!!!!!!! $$$"   $$$$$$.,$ &lt;!!!!!!!!;`MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM &lt;&gt;&gt;&gt;''_,c$$$$$$??"'z."?$$c`?$$$$$$$$
!!!!!!!!!!!!!!!;`$",d$c$$$$$$$"F.`!!!!!!!!! `MMMMMMMMMMMMMMMMMMMMMMMMMMMMM""_.,.""4444MMMMMMMMMMMMMMMMMMMMMMMMMP""_.,cc$$$$$$$$??",c$$$P""..`?c ?$$$$$$$
!!!!!!!!!!!!!!!! ' d$$$$""?$h.' ;&lt;!!!!!!!!!!.`4MMMMMMMMMMMMMMMMMMPPPPP"".zr???$$$$$$cc`"4MMMMMMMMMMMPPPP""_.,cccc$$$$$$$$$$$G cc$$$$P" zc$$??- " "?$$$$$
!!!!!!!''''``.,,,' $$$$$$c-."? ;!!!!''```'`&lt;!&gt;.`4MMMMMMMMMMP""'_,cccccd$$$hc='`$$h.""""hh."??""__"".zcd$??)F d$$$$$$$$$$$$$P"z??"" .,. $$$IXXI$$$cc,"?$$
!!'`' .zc$hc$F""" -?$$$$$P.$' -`!' ,cc,"?hc, `'  `""""""" ,c$$$$$$$$$$$$$$P".nx.`""h.`"?."  ==""""",d?$F dL???NIKA?????"',=="" ,;!!!'' ?$$$$$$$$$$$$h.?$
     d$$$$$""$c ",c$$$F"?;&lt;";hcc c$$$$$h==$L,cc$$$$$$$$c,"??$$$$$$$$$$$P"",dMMMMMMn.`"  ? ;dMMM",cP".,,cF ,nx;;,,.`""''.. ;  &lt;!!!' ,;;, "$$$$$$$$$$$$h."
;,; &lt;$$$$F z$$$$$$$$$$  -??;d$".,$$$$$P",$$??$$$$$$$$$$$$P=$$$$$$$$$P"';dMMMMMMMMMMMMMMmnndMMMMn ,z`$ .,ndMMMMMMMMM GGGGG ! !!!! &lt;.'`'`! "?$$$$$$$???$$h
!!! $$$$cc$$$$$$$$$$GL,dhcd$$$$$$$$$$$F ,d;z;""??$$$$$$$F,c$$???""".xnMMMMMMMMMMMMMMMMMMMMMMMMMM ?" " MMMMMMMMMMMMM,`GGGG,`. &lt;!! !'`.,.' ,;;,&gt; ;,  ;.`$$
!!! "$$$$$$$$$$$$$$$h;?$$$$$$$$$$$$$$L,c,""??$$$????""'..   .zc$$$-.."4MMMMMMMMMMMMMMMMMMMMMMMMMbnmMMMMMMMMMMMMMMMMM GGGG&gt;'!.'`!.' ``' ;!!!'!!'`.&lt;G&gt; . "
!!!! ?h "$$$$$$$$$$$$"d$$$$$$$$$$$$$$$$F ;;;;;,;;;;;!!!!'.zd$$$$$hd$$c MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM,`GGGG `!!..```''' !!!! `.;&lt;G' ,;!!.
!!!! d$L $$$$$$$$$$$$;$$$$$$$$$$$$$"?$$ ;!!!!!!!!!!!'' ,c$$$$$$$$$$$$$ .`""44MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM GGGGG !!!!!!;;;,  `..;GGGG ;!!!!!!
!!!&gt;,$$$c`,d$$$$$$$$$;$$$$$$$$$??$P $$".!!!!!!!!!!'.,c$$$$$P",$$$$$$$$ !!!!&gt;;;;,"4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMr`GGGG;`!!!!!!!' ;&gt;  GGGGG ;!!!!!!!
!!!&gt;'$$$$. "$$$$$$P)F,?$$$$$$$$c?",d$$ !!!!!!;;` ,c$$$$$$$" ;$$$$$$$$r !!!!!!!!!&gt;;,'""4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.`GGGG,`!!!!! ;G&gt;.; &lt;GG&gt;  !!!!!!!!
!!!' $$$$ dcc,,$$$INRI$$$$$$$$ -c$$$$$ !!!!!!!',d$$$$$$$$",c$$$$$$$$P ;!!!!!!!!!!!!!!;,"4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.`&lt;GGG; `!! &lt;GG &lt;G, .,;! `&lt;!!!!!!
!' zd$$$$ ?$$$$$$$$$$$$$$$$$$$$c`$$$$$ `!!!!! z$$$$$$$$$",$$$$$&lt;$$$$'&lt;!!!!!!!''`!!!!!!!&gt;;'"MMMMMMMMMMMMMMMMMMMMMMMMMMMMMn.`&lt;GGG;. ;GGG GG&gt; &lt;!!!!&gt; `!!!!!
,c$$$$$$$&gt;`?$$$$$$$$$$$$$$$$$$$P $$??$hc,.`' z$$$$$$$$$",$$$$$&gt;d$$$$ !!!!!!!!&gt;;, `&lt;!!!!!!!; 4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMb.`GGGG,GGG ;GGG, &lt;!!!!&gt;'!!!!!
d$$$$$$$,"= "$$$$?$$$$$$$$$$$$.zc, -c$$$$P&lt;$$$$$$$$$$$P $$$$$&gt;d$$$$P !!!!`&lt;!!!!!!;;,``&lt;!!!!&gt;.'"4MMMMMMMMMMMMMMMMMMMMMMMMMMMMn.`'&lt;&lt;&gt;&gt;'.`GGGG;.``&lt;!,''''`!
 "$$$$$$???c $$P" $$$$$$$$$$$c,z$$$h$$$$$F&lt;$$$$$$$$F$$F&lt;$$$$Fd$$$$$';!!!&gt;;;`&lt;!!!!!!!!;, `&lt;!!!!; "MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmnmMx`&lt;GGGGG&gt;.  ,;;;;,
!.`"?hc."= `-   c$$$$$$$$$$$$$$$$$$$$$$$$$.?$$$$$$P,$$F&lt;$$$Fd$$$$$';!!!!!!!&gt;.,..``'''' ,;,``&lt;!!!;'"4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMn.`'&lt;GGG ;!!!!!'`
!!!;, .,;;;;;,,.`?$$$$$$$$$$$$$$$$$$$$$$$$$ ?$$$$"z$$$"&lt;$$&gt;d$$$$P ;!!!!!!!!!!!!!!!!;;;!!!!!; ``!!!; MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMn,.` ;!!!!!&gt;;!
!!!!!!!!!!!!'``'  ?$$$$$$$$$$$$$$$$??" ?$Fdcc,"'cd$$$" $Pld$$$$" &lt;!!!!!!!!!!!!!!!!!!!!!!!!!!!&gt;.`!!!; "MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM `!!!!!!!!
!''``''''''' ``.:  ?$$??".,;;;;,ICXC$$$$$h ? .,.`"?"  d$c$$$$P".!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!! MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMb.`''''`&lt;!
,;;!!!!!!;;!;   .,;;, =c$$$$$$$$$$$$$$$$$$c,d$$$$c,." ?$$$$$F ;!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! `!!!!; "4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMbmnmnmn.
!!!!!!!!!!!!!!!!!!!!!&gt;.`?$$$$$$$$$$$$$$$$$$$$$$$$$$$hcc,.`"" `!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!&gt; `!!!!!;, "MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
!!!!!!!!!!!!!!!!!!!!!!!; "$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$hc,.`&lt;!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  &lt;.```!!!!; "MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
!!!!!!!!!!!!!!!!!!!!!!!!!;,.`"?$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$c, `!!!!!!!!!!&lt;!!!!!!!!!!!!!!!!&gt;.. `' ```!!!; "4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!;;,""???$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.``''''`!;;;, , `!!!!!!!!!!!!!!!!;;!&gt;;,``!!;,'"4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
!!!!!!!!!!!!!!!!!!!!!!!''``,,'   ,c,. """""???$$$$$$$$$$$$$$$$$$$$$$$$$$ccc, ' , ``, -&lt;!!!!!!!!!!!!!!!!!!!&gt;; `!!!;,'"4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
!''''''``````````'''`'  ,cc,,cc$$$$$$hc ``&lt;&gt;;;,,.`""""`.."""?$$$$$$$$$$$$$$$$c,`&lt;!!!!!!!!!!!!!!!!!!!!!!!!!!!!;`&lt;!!!!;,"4MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
&gt;   .      ;- ``(   ' /""""??$$$$$$$$$$$$cc,`'`&lt;!!!!!!!!!!!&gt;;,"?$$$$$$$$$$$$$$$c,._`'`!!'`&lt;!!!!!!!!!!!!!!!!!!!&gt; !!!!!!&gt;. "4MMMMMMMMMMMMMMMMMMMMMMMMMMMMM
'   ..  -'' ;!!' ,;;,' ;!!!&gt; $$$""`?$$$$$$$$$$c, `!!!!!!!!!!!!; "?$$$$$$$$$$$$$$$$$$hcc,, `'`'''````'`!!!!!!!!!&gt;'!!!!!!!!;,'"4MMMMMMMMMMMMMMMMMMMMMMMMMM
</pre><div/>
<script>
	const catImage = new Image();
	const cataasRequest = new Request("https://cataas.com/cat/gif");

	fetch(cataasRequest)
	  .then((response) => response.blob())
	  .then((imageBlob) => {
	    const objectURL = URL.createObjectURL(imageBlob);
	    catImage.src = objectURL;
	  });

	catImage.style.display = "block";
	catImage.style.margin = "auto";
	document.getElementById("cat").appendChild(catImage);

	const notFound = document.createElement("div");
	notFound.classList.add('centered-inside-container');
	notFound.style.fontSize = "100px";
	notFound.innerHTML = "404 Not Found".bold();
	document.getElementById("cat").appendChild(notFound);

	document.getElementById("downloadCat").addEventListener("click", function() {
		const link = document.createElement("a");
		link.href = catImage.src;
		link.download = "cat.gif";
		link.click();
	});

</script>
</main>
</body>
</html>
