<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>404 Not Found</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	<style>
		:root {
			--bgimg: '';
		}

		body {
			background: url( var(--bgimg) ) no-repeat;
			background-size: cover;
			background-attachment: fixed;
		}

		div {
			font-size: 140px;
			text-align: center;
			color: white;
			mix-blend-mode: exclusion;
		}

	</style>
	<script>
		var root = document.querySelector(':root');
		var rootStyles = getComputedStyle(root);
		var bgimg = rootStyles.getPropertyValue('--bgimg');
		root.style.setProperty('--bgimg', "https://thisanimedoesnotexist.ai/results/psi-2.0/seed" + String(Math.floor(Math.random() * 100000)).padStart(5, '0') + ".png" );
		console.log(bgimg);
	</script>
</head>
<body>
<main>
	<div>404 Not Found<br></div>
</main>
</body>
</html>
