<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>404 Not Found</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	<style>
		.container {
			position: relative ;
			text-align: center ;
			color: black ;
		}
		.centered {
			position: absolute ;
			top: 50% ;
			left: 50% ;
			transform: translate(-50%, -50%) ;
		}
	</style>
</head>
<body>
<main>
	 <div id="anime" class="container"></div>
</main>
<script>
	const img = new Image() ;
	img.src = "https://thisanimedoesnotexist.ai/results/psi-2.0/seed" + String(Math.floor(Math.random() * 100000)).padStart(5, '0') + ".png" ;
	img.style.display = "block" ;
	img.style.margin = "auto" ;
	document.getElementById("anime").appendChild(img) ;
	const txt = document.createElement("div") ;
	txt.classList.add('centered');
	txt.style.fontSize = "100px" ;
	txt.innerHTML = "404 Not Found".bold() ;
	document.getElementById("anime").appendChild(txt) ;
</script>
{{ block "footer" . }}
<footer>
	<br>
	<a href="{{ .Site.BaseURL }}"><h5>{{ .Site.BaseURL }}</h5></a>
	{{- if .Param "showrss" }}<a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>{{ end }}
	<a href="mailto:drKbz3wcX4ZuQE7R@danwin1210.de"><h4>drKbz3wcX4ZuQE7R@danwin1210.de</h4></a>
</footer>
{{ end }}
</body>
</html>
