body {
	font-family: sans-serif ;
	background: #111 ;
	color: #aaa ;
}

a {
	color: #eee ;
	text-decoration-line: none ;
}

a:hover {
	text-decoration-line: underline ;
	text-decoration-color: purple ;
	animation: cc 1s ;
}

@keyframes cc {
	from {text-decoration-color: #eee} ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
